.Header {
  position: relative;
  height: 300px;
  background-size: cover;
  margin-bottom: 5vw;
  @media(max-width: 1024px) {
    height: 260px;
  }
  @media(max-width: 320px) {
    height: 150px;
  }
}