h1 {
    font-size: 3vw;
}
h2 {
    font-size: 2vw;
}
p, li {
    font-size: 1.5vw;
}
@media(max-width: 1024px) {
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 3vw;
    }
    p, li {
        font-size: 2.5vw;
    }
}
@media(max-width: 640px) {
    h1 {
        font-size: 4.5vw;
    }
    h2 {
        font-size: 3.5vw;
    }
    p, li {
        font-size: 3vw;
    }
}